html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-color: black;
    width: 100vw;
    overflow-x: hidden;
}
.navigation{
    display: flex;
    background-color: goldenrod;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
}
nav{
    display: flex;
text-align: center;
justify-content: space-around;
width: 100%;
height: fit-content;
text-decoration: none;
flex-wrap: wrap;
overflow-x: hidden;
align-items: center;
}
nav >a:hover{
color: white;
}
nav >a{
    color: black;
    
}

#home {
color: rgba(255, 255, 255, 0.719);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 65px;
text-align: center;
padding: 20px;
}
#about {
    text-align: center;
    color:goldenrod ;
    font-style: italic;
    font-weight: 400px;
    font-size: 60px;
}
.blog-1{
    background-color: white;
    width: 350px;
    height: 420px;
    border-radius: 20px;
}
.blog1child1 >img{
    width: 35px;
    height: 35px;
    border-radius: 100px;
    position: relative;
    bottom: 8px;
    padding: 10px;

}
.blog-1 >img{
    height: 150px;
    width: 350px;
    border-radius: 15px;
}
.blog-1 >h2{
    padding: 10px;
    margin: 10px;
    background-color: goldenrod;
    width: 130px;
    border-radius: 50px;
    font-size: 15px;
}
.blog-1 >h3{
    padding: 5px;
}
.blog-1 >p{
    padding: 20px;
}
.blog-1 >small{
    position: relative;
    bottom: 30px;
}
.cards{
    display: flex;
    justify-content: space-around;
    background-color:black;
    gap: 5px;

}

.blog-2{
    background-color: white;
    width: 350px;
    height: 420px;
    border-radius: 20px;

}
.blog2child2>img{
     width: 35px;
    height: 35px;
    border-radius: 100px;
    position: relative;
    bottom: 8px;
    padding: 10px;

}
.blog-2 >img{
    height: 150px;
    width: 350px;
    border-radius: 15px
}

.blog-2 >h2{
    padding: 10px;
    margin: 10px;
    background-color: goldenrod;
   width: 130px;
    border-radius: 50px;
    font-size: 15px;
}
.blog-2 >h3{
    padding: 5px;
}
.blog-2 >p{
    padding: 20px;
}
.blog-2 >small{
    position: relative;
    bottom: 30px;
}

.blog-3{
    background-color:white;
    width: 350px;
    height: 420px;
    border-radius: 20px;

}
.blog3child3>img{
    width: 35px;
    height: 35px;
    border-radius: 100px;
    position: relative;
    bottom: 8px;
    padding: 10px;

    
}
.blog-3 >img{
   height: 150px;
    width: 350px;
    border-radius: 15px
}
.blog-3 >h2{
    padding: 10px;
    margin: 10px;
    background-color: goldenrod;
    width: 130px;
    border-radius: 50px;
    font-size: 15px;
}
.blog-3 >h3{
    padding: 5px;
}
.blog-3 >p{
    padding: 20px;
}
.blog-3 >small{
    position: relative;
    bottom: 30px;
}


.footer{
    display: flex;
    color:white ;
    text-align: center;
    justify-content: space-around;
}
#contact{
    color: black;
   background-color:goldenrod;
   border: solid;
   border-color: goldenrod;
   overflow-x: hidden;
   margin-right: 50px;
   margin-left: 20px;
}
#contact >h3{
text-align: center;
}
#reviews{
    color: goldenrod;
}
#reviews >h4{
    text-align: center;
}
#services{
    color:goldenrod ;
}
#services >ol{
display: grid;
row-gap: 20px;
}
#services >h3{
    text-align: center;
}
#contact >h2{
    text-align: center;
}
button{
    width: 200px;
    margin-bottom: 20px;
    color: white;
    background-color:black;
    cursor: pointer;
}
.navigation{
    width: 100%;

}
nav >a{
    text-decoration: none;
}

.wicon{
    position: fixed;
    right: 5px;
    bottom: 5px;
}
    .blog1child1 {
        display: flex;
        height: 50px;
        width: 50px;
    }
    .blog-1 >small{
        position: relative;
        left: 50px;
        
    }
.blog2child2 {
        display: flex;
         height: 50px;
        width: 50px;
    }
    .blog-2 >small{
        position: relative;
        left: 50px;
        
    }
    .blog3child3 {
        display: flex;
         height: 50px;
        width: 50px;
    }
    .blog-3 >small{
        position: relative;
        left: 50px;
        
    }
    .menu{
        color: goldenrod;
        text-align: center;
        font-size: 30px;
        position: relative;
        bottom: 70px;
    }
    form >div{
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
        
    }
    form >label{
        display: grid;
        grid-template-columns: 1fr;
    }
   
    /*gallery*/
    .parent{
    display: grid;
    gap: 20px;
    padding-right: 50px;
    padding-left: 20px;
    grid-template-areas: 
    "pic1 pic1 pic1 pic2 pic2 pic2 "
    "pic1 pic1 pic1 pic4 pic5 pic5 "
    "pic3 pic3 pic3 pic4 pic5 pic5 " 
    "pic6 pic6 pic7 pic7 pic5 pic5 "
    "pic6 pic6 pic7 pic7 pic5 pic5"
    "pic6 pic6 pic9 pic9 pic9 pic10"
    "pic8 pic8 pic9 pic9 pic9 pic10";
}

.parent >section{
    background-color: grey;
    
}

.pic1{
     grid-area: pic1;
     height: 200px;
     
}
.pic2{
     grid-area: pic2;
     height: 150px;
}
.pic3{
     grid-area: pic3;
     height: 50px;
     
}
.pic4{
     grid-area: pic4;
}
.pic5{
     grid-area: pic5;
}
.pic6{
     grid-area: pic6;
     height: 200px;
}
.pic7{
     grid-area: pic7;
}
.pic8{
     grid-area: pic8;
}
.pic9{
     grid-area: pic9;
    
}
.pic10{
    grid-area:pic10;
}
.pic1 >img{
    width: 100%;
    height: 100%;
    border: solid;
    border-color: goldenrod;
}
.pic1 >img{
    width: 100%;
    height: 100%;
    border: solid;
    border-color:goldenrod ;
}

.pic2 >img{
    width: 100%;
    height: 100%;
    border: solid;
    border-color:goldenrod;
}

.pic3 >img{
    width: 100%;
    height: 100%;
    border: solid;
    border-color: goldenrod;
}

.pic4 >img{
    width: 100%;
    height: 100%;
    border: solid;
    border-color: goldenrod;
}

.pic5 >img{
    width: 100%;
    height: 100%;
    border: solid;
    border-color: goldenrod;
}

.pic6 >img{
    width: 100%;
    height: 100%;
    border: solid;
    border-color: goldenrod;
}

.pic7 >img{
    width: 100%;
    height: 100%;
    border: solid;
    border-color: goldenrod;
}

.pic8 >img{
    width: 100%;
    height: 100%;
    border: solid;
    border-color: goldenrod;
}

.pic9 >img{
    width: 100%;
    height: 100%;
    border: solid;
    border-color: goldenrod;
}

.pic10 >img{
    width: 100%;
    height: 100%;
    border: solid;
    border-color: goldenrod;
}


/*responsiveness*/

    @media  (max-width: 468px) {
      .navigation{
        display: flex;
      }
      .cards{
        flex-direction: column;
      }
        .body{
           flex-direction: column;
      } 
        
        .footer{
            flex-direction: column;
      }
        
        #contact{
            flex-direction: column;
      }
        
        #reviews{
            flex-direction: column;
      
        }
        #services{
            flex-direction: column;
      
      }
      
      #about {
        font-size: 30px;
      }
      #home {
        font-size: 40px;
      }
      
      body{
        overflow-x: hidden;
      }
      nav{
        display: flex;
        flex-wrap: wrap;
       gap: 15px;
       justify-content: center;
      }

      
    }
    
